.container {
    padding: 20px;
}
h3 {
    color: red;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}
.row {
    margin-bottom: 20px;;
}
.card {
    width: 33%;
    float: left;
    box-sizing: border-box;
    padding: 30px;
}

h4 {
    color: blue;
}
p {
    text-align: justify;
}

